<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsp.bloggardensystem.mapper.ArticleMapper">
    <select id="articleEntityList" resultType="ArticleEntity">
      select articleID,
        articleTitle,
        a.userID,
        u.userName,
        articleIssueTime,
        articleRead
      from article_table as a left join user_table as u on a.userID = u.userID
      where (a.userID = #{userID} or #{userID} = 0)
      and (u.userName like #{userName} or #{userName} is null)
      and (articleTitle like #{articleTitle} or #{articleTitle} is null)
    </select>

    <update id="addArticleRead">
          update article_table
          set articleRead = articleRead+ 1
          where articleID = #{articleID}
    </update>

    <select id="getArticle" resultType="ArticleEntity">
        select a.articleID,
        articleTitle,
        cn.articleContent,
        pictureCatalog,
        a.userID,
        u.userName,
        articleIssueTime,
        articleRead
      from article_table as a join content_table as cn on a.articleID = cn.articleID
      left join user_table as u on a.userID = u.userID
      where a.articleID = #{articleID}
    </select>

    <update id="updateArticle">
        update article_table as a , content_table as cn
        set a.articleTitle = #{articleTitle}, cn.articleContent = #{articleContent}
        where a.articleID = #{articleID} and cn.articleID = #{articleID}
    </update>

    <insert id="addArticle"  useGeneratedKeys="true" keyProperty="articleID">
        insert into article_table(
        articleTitle,
        pictureCatalog,
        userID,
        articleIssueTime)
        values (
        #{articleTitle},
        #{pictureCatalog},
        #{userID},
        now())
    </insert>

    <insert id="addContent">
        insert into content_table(
        articleID,
        articleContent)
        values (
        #{articleID},
        #{articleContent})
    </insert>

    <delete id="deleteArticle">
        delete a, cn, co
        from article_table as a join content_tabl as cn on a.articleID = cn.articleID left join comment_table as co on a.articleID = co.articleID
        where a.articleID = #{articleID}
    </delete>
</mapper>