<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsp.bloggardensystem.mapper.ArticleMapper">
    <select id="articleEntityList" resultType="ArticleEntity">
      select articleID,
        articleTitle,
        a.userID,
        u.userName,
        articleIssueTime,
        articleRead
      from article_table as a left join user_table as u on a.userID = u.userID
      where (a.userID = #{userID} or #{userID} = 0)
      and (u.userName like #{userName} or #{userName} is null)
      and (articleTitle like #{articleTitle} or #{articleTitle} is null)
    </select>

    <update id="addUserRead">
          update user_table
          set userRead = userRead+1
          where userID = #{userID}
    </update>

    <update id="addArticleRead">
          update article_table
          set articleRead = articleRead+ 1
          where articleID = #{articleID}
    </update>

    <select id="getArticle" resultType="ArticleEntity">
        select articleID,
        articleTitle,
        articleCountent,
        pictureCatalog,
        a.userID,
        u.userName,
        articleIssueTime,
        articleRead
      from article_table as a left join user_table as u on a.userID = u.userID
      where a.articleID = #{articleID}
    </select>

    <update id="updateArticle">
        update article_table
        set articleTitle = #{articleTitle}, articleCountent = #{articleCountent}
        where articleID = #{articleID}
    </update>

    <insert id="addArticle">
        insert into article_table(
        articleTitle,
        articleCountent,
        pictureCatalog,
        userID,
        articleIssueTime)
        values (
        #{articleTitle},
        #{articleCountent},
        #{pictureCatalog},
        #{userID},
        now()
        )
    </insert>

    <delete id="deleteArticle">
        delete a, co
        from article_table as a left join comment_table as co on a.articleID = co.articleID
        where a.articleID = #{articleID}
    </delete>
</mapper>