<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsp.bloggardensystem.mapper.NoticeMapper">
    <select id="getNotice" resultType="NoticeEntity">
        select userID, notice, noticeStatus
        from notice_table
        where userID = #{userID}
    </select>

    <insert id="addNotice">
        insert notice_table(userID,notice,noticeStatus)
        values (#{userID},#{notice},'NV')
    </insert>

    <update id="updateNotice">
        update notice_table
        set noticeStatus = 'V'
        where userID = #{userID}
    </update>

    <delete id="deleteNotice">
        delete
        from notice_table
        where userID = #{userID} and noticeStatus = 'V'
    </delete>
</mapper>
